.parent-container {
  display: flex;
  flex-direction: column;
}

.navbar, .shoe-search {
  flex-shrink: 0;
}

.shoe-search {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}