.header {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px 0;
    margin-bottom: 20px;
}

.header h2 {
    flex: 1;
    text-align: center;
}

.header-name {
    flex: 4; /* Ajuste o tamanho conforme necessário */
}

.header-size,
.header-quantity,
.header-price {
    flex: 1; /* Ajuste o tamanho conforme necessário */
    text-align: center;
}